#DJANGO
SECRET_KEY=s6_v9z1i-02_7c_fgn2v=myks(@3px$+7ruid$o2o7q^84wt56f
DOMAIN=http://localhost:8000

#POSTGRES
POSTGRES_DB=finml
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#JUPYTER HUB
COMPOSE_PROJECT_NAME=finml
HOST=jupyterhub_hub
DOCKER_JUPYTER_CONTAINER=jupyterlab_img
DOCKER_NETWORK_NAME=finml_default
HUB_IP=jupyterhub_hub
